@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

:root {
    --white: #FFFFFF;
    --orange: #FE5009;
    --black: #13161D;
    --sand: #E2E2E2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    display: flex;
}

.submit-btn {
    background: var(--orange);
    color: #fff;
    border-radius: 70px;
    max-width: 220px;
    border: 3px solid black;
    margin-left: auto;
    outline: none;
    font-family: "Unbounded", sans-serif;
    padding: 15px 10px;
    width: 100%;
    font-size: 28px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

.submit-btn:hover {
    color: var(--black);
}

.hide-text {
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: .3s;
}

.header {
    padding-top: 30px;
}

.header .logo {
    width: 64px;
    height: 64px;
}

.header .logo img {
    width: 100%;
    height: 100%;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 27px;
}

nav {
    display: flex;
    gap: 77px;
    font-weight: 500;
    text-transform: uppercase;
}

nav a {
    color: black;
    font-size: 32px;
    text-decoration: none;
    transition: 0.6s;
}


nav a:hover {
    color: var(--orange);
}

/* Базова стилізація бургер-меню */
.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu.open {
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 43px;
}

.burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
}

/* Анімація бургер-меню при відкритті */
.burger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Приховування навігації на мобільних */
nav {
    display: flex;
    gap: 77px;
}

@media (max-width: 767px) {
    .burger-menu {
        display: flex;
    }

    /*
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        display: none;
    }
        */

    nav {
        position: fixed;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: var(--white);
        min-height: 100vh;
        overflow: scroll;
        z-index: 2;
        min-height: 0;
        height: 0;
    }

    @keyframes menu-open {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes menu-close {
        from {
            min-height: 100vh;
            height: 100vh;
            opacity: 1;
        }
        to {
            min-height: 100vh;
            height: 100vh;
            opacity: 0;
        }
    }

    nav.close {
        animation: menu-close .3s linear;
    }

    nav.open {
        padding: 20px 0;
        min-height: 100vh;
        height: 100vh;
        animation: menu-open .3s linear;
    }

    /* nav.open {
        display: flex;
    } */
}

/* Hero */
.hero .container {
    overflow: hidden;
}

.hero .text {
    padding: 144px 56px 0 56px;
    position: relative;
}

.hero .text h1,
.hero .text h2 {
    font-size: 128px;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    line-height: 128px;
}

.hero .row {
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.hero .text .title {
    display: flex;
    justify-content: space-between;
    max-height: 128px;
}

.hero .text .title img {
    height: 224px;
    transform: translateY(-91px) scaleX(-1);
}

.hero .text p {
    color: var(--orange);
    font-size: 32px;
    font-weight: 600;
    width: 448px;
    text-transform: uppercase;
    text-align: right;
}

.hero .text .subtitle {
    margin-top: 20px;
    width: 100%;
}

.hero .rectangle {
    width: 64px;
    height: 112px;
    background-color: var(--orange);
    position: absolute;
    right: 70px;
    top: 160px;
    z-index: -1;
}

.hero .line {
    width: 438px;
    background-color: var(--orange);
    position: absolute;
    right: 24px;
    top: 206px;
    z-index: -1;
}

.bgHero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
}

/* Question */

.question {
    margin-top: 136px;
    font-family: "Unbounded", sans-serif;
    font-size: 32px;

}

.question .container {
    padding: 0 32px 0 56px;
}

.questionBox {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.questionBox .icon {
    width: 65px;
    height: 65px;
}

.questionBox .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.questionBox_text {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
}

.questionBox_text p {
    max-width: 616px;
}

.questionBox__right img {
    position: relative;
    margin-left: auto;
}

.keyElementBox {
    max-width: 880px;
    padding: 35px 26px;
    border: 4px solid black;
    background: var(--orange);
    border-radius: 60px;
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
    margin-top: 34px;
}

.keyElementBox_textWhite {
    color: #fff;
    font-size: 48px;
    margin-top: 12px;
}

/* About */

.about .container {
    margin-top: 142px;
}

.about .row {
    gap: 40px;
}



.about_image {
    position: relative;
    min-width: 448px;
    min-height: 696px;
}

.about_image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    border: 3px solid var(--orange);

}

.about {
    margin-bottom: 100px;
}

.about_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_text h2 {
    text-transform: uppercase;
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
}

.about_text p {
    font-size: 30px;
    font-weight: 400;
    margin-top: 21px;
}

.about h3 {
    margin-top: 58px;
    font-family: "Unbounded";
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}

.row-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 60px;
    
}

.row-tags-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 3px solid black;
    padding: 10px 20px;
    border-radius: 60px;
    transition: 0.6s;
}

.row-tags-item:hover {
    background: #000;
    color: white;
}

.row-tags div[data-aos] {
    max-width: 568px;
    flex-basis: 100%;
}

.row-tags div:nth-child(3) {
    margin-left: 120px;
}

.row-tags div[data-aos]:nth-child(5){
    max-width: 400px;
}

.row-tags div[data-aos]:nth-child(6){
    max-width: 456px;
}

.row-tags div[data-aos]:nth-child(7){
    max-width: 376px;
}

.row-tags-item p {
    font-size: 24px;
    font-weight: 600;
}

.row-tags-item p span {
    display: inline-block;
    font-size: 22px;
    color: var(--orange);
    transform: translate(-3px, -6px);
}

.row-tags-item .icon {
    width: 48px;
    height: 48px;
}

.row-tags-item .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer {
    margin-top: 200px;
}

.offer h2 {
    text-align: center;
    font-size: 64px;
    margin-bottom: 42px;
}

.offer-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.offer-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--orange);
    border: 4px solid black;
    color: #fff;
    padding: 40px 24px;
    min-width: 416px;
    min-height: 728px;
}


.offer-card_header {
    z-index: 0;
}

.offer-card_header h3 {
    font-size: 48px;
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

.offer-card_header p {
    text-transform: uppercase;
    font-size: 20px;
}

.offer-card_header p.offer-card_number {
    position: absolute;
    font-family: "Unbounded", sans-serif;
    top: 20px;
    right: 20px;
    font-size: 36px;
    font-weight: 500;
    color: black;
}

.line {
    height: 4px;
    width: 100%;
    background: #fff;
    margin: 22px 0 6px;
}

.offer-card_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: 0;
    object-fit: cover;
}

.card_list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 60px;
    z-index: 1;
    font-size: 32px;
    font-weight: 500;
}

.card_list div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.offer-card button {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    color: #fff;
    font-family: "Unbounded", sans-serif;
    margin-top: auto;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    z-index: 1;
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;
}

.offer-card button p {
    position: relative;
}

.offer-card button p::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -8px;
    left: 0;
    background: white;
}

.offer-card:nth-child(2) {
    background: white;
    color: black;
}

.offer-card:nth-child(2) .line {
    background: black;
}

.offer-card:nth-child(2) .offer-card_number {
    color: var(--orange);
}

.offer-card:nth-child(2) button {
    color: black;
}

.offer-card:nth-child(2) button p::before {
    background: black;
}


.offer-card:nth-child(3) {
    background: black;
    color: var(--orange);
}

.offer-card:nth-child(3) .line {
    background: var(--orange);
}

.offer-card:nth-child(3) .offer-card_number {
    color: var(--orange);
}

.offer-card:nth-child(3) .offer-card_header p {
    font-size: 19px;
}

.offer-card:nth-child(3) button {
    color: var(--orange);
}

.offer-card:nth-child(3) button p::before {
    background: var(--orange);
}

.offer-card button p,
.offer-card button p::before
.offer-card button svg line {
    transition: 0.3s;
}

.offer-card-1 button:hover p {
    color: var(--black);
}

.offer-card-1 button:active p {
    color: var(--white);
}

.offer-card-1 button:hover p::before {
    background-color: var(--black);
}

.offer-card-1 button:active p::before {
    background-color: var(--white);
}

.offer-card-1 button:hover svg line {
    stroke: var(--black);
}

.offer-card-1 button:active svg line {
    stroke: var(--white);
}

.offer-card-2 button:hover p {
    color: var(--orange);
}

.offer-card-2 button:active p {
    color: var(--black);
}

.offer-card-2 button:hover p::before {
    background-color: var(--orange);
}

.offer-card-2 button:active p::before {
    background-color: var(--black);
}

.offer-card-2 button:hover svg line {
    stroke: var(--orange);
}

.offer-card-2 button:active svg line {
    stroke: var(--black);
}

.ours-is-not {
    position: relative;
    margin-top: 173px;
    padding-bottom: 170px;
}

.ours-is-not .title {
    background: black;
    color: white;
    font-family: "Unbounded", sans-serif;
    font-size: 48px;
    border-radius: 60px;
    max-width: 688px;
    margin: 0 auto;
    text-align: center;
    padding: 34px 40px;
    text-transform: uppercase;
    margin-bottom: 62px;
}

.ours-is-not .title span {
    color: var(--orange);
}


.ours-is-not-list {
    display: grid;
    padding-left: 88px;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.ours-is-not-list_item {
    display: flex;
    gap: 24px;
    align-items: center;
    font-family: "Unbounded", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

.ours-is-not .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.why {
    margin-bottom: 176px;
}

.why-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.why .title {
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
}

.why .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 60px;
    margin-top: 38px;
    row-gap: 80px;
}

.why-box .rectangle {
    width: 96px;
    height: 174px;
    background: var(--orange);
}

.why-box .why-box-icon-container {
    height: 165px;
    position: relative;
}

.why-box .icon {
    position: absolute;
    top: 81px;
    left: 45px;
    font-size: 70px;
    z-index: 2;
}

.why-box .icon-1 {
    left: -150px;
}

.why-box .icon-2 {
    font-size: 54px;
    top: 99px;
    left: -114px;
}

.why-box .icon-3 {
    font-size: 65px;
    top: 90px;
    left: -160px;
}

.why-box .icon-4 {
    font-size: 64px;
    top: 85px;
    left: -133px;
}

.why-box .icon-5 {
    font-size: 52px;
    top: 100px;
    left: -133px;
}

.why-box .icon-6 {
    font-size: 64px;
    top: 85px;
    left: -144px;
}

.why-box .why-box-icon-container-6 svg {
    left: 50px;
}

.why-box svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.why-box h3 {
    font-family: "Unbounded", sans-serif;
    font-size: 30px;
    margin-top: 35px;
    text-transform: uppercase;
    font-weight: 500;
}

.why-box p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}


.banner {
    position: relative;
    background: black;
    color: white;
}

.banner .container {
    padding: 8px 0px 16px 68px;
}

.banner h3 {
    background: black;
    color: white;
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
    font-size: 100px;
}

.banner h3 span {
    color: var(--orange);
}

.banner .label {
    position: absolute;
    top: 50px;
    right: 26%;
    background: var(--orange);
    color: black;
    width: 340px;
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    padding: 10px;
    transform: rotate(15deg);
}


.cases .container {
    display: flex;
    gap: 30px;
    padding: 136px 75px 0px 75px;
}

.cases .text {
    width: 50%;
    font-size: 38px;
}

.cases .text__top {
    text-align: right;
}

.cases .text__bottom {
    color: var(--orange);
    font-family: "Unbounded", sans-serif;
    font-size: 32px;
    font-weight: 500;
    width: 400px;
    margin-top: 42px;
}

.cases .image {
    width: 568px;
    height: 848px;
    border: 4px solid black;
}

.cases .image img {
    width: 100%;
    height: 100%;
}

.cases .vector-box {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    justify-content: center;
    font-size: 80px;
    margin-top: 130px;
}

.cases .vector-box span {
    transform: translateY(25px);
}

.cases .vector {
    width: 96px;
    height: 174px;
    background: var(--orange);
    margin-bottom: 30px;
}

.excellence {
    position: relative;
    padding: 200px 0;
}

.excellence .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.excellence .bg img {
    width: 100%;
    height: 100%;
}


.excellence h2 {
    text-align: center;
    font-size: 170px;
    font-family: "Unbounded", sans-serif;
}

.excellence h3 {
    text-align: center;
    font-size: 48px;
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
}

.excellence .row {
    font-weight: 700;
    font-size: 32px;
    color: var(--orange);
    max-width: 850px;
    margin: 10px auto;
    align-items: center;
}

.excellence .row span {
    font-size: 70px;
}

.get-started {
    padding-bottom: 162px;
}

.get-started .row {
    gap: 32px;
}

.get-started .img-container {
    position: relative;
    min-width: 472px;
    min-height: 744px;
}

.get-started form,
.get-started form input,
.get-started form input::placeholder {
    text-transform: uppercase;
}

.get-started form {
    font-family: 'Unbounded';
}

.get-started form h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 79.36px;
    margin-bottom: 34px;
}

.get-started form p {
    font-size: 28px;
    font-weight: 500;
    line-height: 56px;
}

.get-started form p span {
    border: 3px solid black;
    border-radius: 70px;
    padding: 0px 32px;
}

.get-started form p label input[type="checkbox"] {
    display: none;
}

.get-started form p label span {
    display: inline-block;
    padding: 0px 32px;
    border: 3px solid black;
    border-radius: 70px;
    cursor: pointer;
}

.get-started form p label input[type="checkbox"]:checked + span {
    background-color: black;
    color: white;
}

.get-started form .text-1 {
    line-height: 40px;
    margin-bottom: 8px;
}

.get-started form .text-2 {
    margin-bottom: 8px;
}

.get-started form .text-2 input,
.get-started form .text-5 input,
.get-started form .text-6 input {
    border: none;
    outline: none;
    border-bottom: 3px solid black;
    font-family: "Unbounded", sans-serif;
    padding: 0px 10px;
    font-size: 28px;
    text-transform: uppercase;
    width: 145px;
}

.get-started form input::placeholder {
    color: var(--sand);
}

.get-started form .text-2 input:nth-child(2) {
    width: 162px;
}

.get-started form .text-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    row-gap: 24px;
    margin-bottom: 16px;
}

.get-started form .text-3 span:nth-child(3){
    padding: 0 43.6px;
}

.get-started form .text-4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 16px;
    row-gap: 13px;
    margin-bottom: 16px;
}

.get-started form .text-4 span {
    padding: 0 16px;
}

.get-started form .text-4 span:nth-child(1),
.get-started form .text-4 span:nth-child(4) {
    padding: 0 24px;
}

.get-started form .text-5 {
    margin-bottom: 8px;
}

.get-started form .text-5 input {
    width: 284px;
}

.get-started form .text-6 {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    margin-bottom: 23px;
}

.get-started form .text-6 input {
    width: calc(100% - 24px);
    padding: 21px 28px;
    border: 3px solid black;
    border-radius: 70px;
}

.get-started form .submit-btn-container {
    text-align: right;
}

@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.text-line {
    background: black;
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    color: white;
    text-wrap: nowrap;
    width: 100%;
    height: 120px;
    overflow: hidden;
    padding: 20px 0px;
    position: relative;
}

.text-line p {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    will-change: transform;
    animation: scrollText 10s linear infinite;
}

.answers .container {
    display: flex;
    gap: 40px;
    padding: 68px 40px;
}

.answers-box {
    border: 4px solid black;
    border-radius: 70px;
    cursor: pointer;
    transition: 0.3s;
}

.answers-box:hover {
    border-color: var(--orange);
}

.answers-box:active {
    border-color: inherit;
    background-color: var(--orange);
}

.answers-box:active .title p {
    color: #fff;
}

.answers-box:hover svg line {
    stroke: var(--orange);
}

.answers-box:active svg line {
    stroke: #fff;
}

.answers-box .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    font-size: 36px;
    font-family: "Unbounded", sans-serif;
    min-height: 140px;
    padding: 26px 56px;
}

.answers-box p {
    color: var(--black);
    transition: 0.3s;
}

.answers-box .title svg {
    min-width: 56px;
    min-height: 56px;
    transition: .3s;
}

.answers-box .title svg line {
    transition: .3s;
}

.answers-box.show-content {
    background-color: var(--orange);
}

.answers-box.show-content:hover {
    border-color: var(--black);
}

.answers-box.show-content p{
    color: #fff;
}

.answers-box.show-content svg {
    transform: rotate(-90deg);
    transition: .3s;
}

.answers-box.show-content svg line{
    stroke: #fff;
    transition: .3s;
}

.answers .hide-text {
    transform: translateY(-24px);
}

.answers .hide-text-container {
    padding: 26px 56px;
    border: 4px solid black;
    border-radius: 70px;
    font-size: 36px;
}

.answers .v-text {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    color: var(--orange);
    font-size: 47px;
    font-family: "Unbounded", sans-serif;
    text-wrap: nowrap;
    text-align: right;
    font-weight: 500;
    text-transform: uppercase;
}

.answers-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chit-chat {
    padding-top: 147px;
}

.chit-chat .title {
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    max-width: 800px;
    margin-bottom: 59px;
    text-transform: uppercase;
}

.chit-chat .row {
    gap: 50px;
}

.chit-chat .vector-box {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 80px;
    margin-top: 130px;
    position: relative;
}

.chit-chat .vector-box span:nth-child(2) {
    position: absolute;
    z-index: -1;
    transform: rotate(-19deg);
    top: -53px;
    left: 53px;
}

.chit-chat .vector {
    width: 96px;
    height: 174px;
    background: var(--orange);
    margin-top: 60px;
}


.chit-chat form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 55%;
}

.chit-chat form input,
.chit-chat form textarea {
    border: none;
    outline: none;
    border-bottom: 4px solid black;
    font-family: "Unbounded", sans-serif;
    padding: 15px 10px;
    width: 100%;
    font-size: 28px;
    text-transform: uppercase;
}

.chit-chat form textarea {
    border-radius: 20px;
    border: 3px solid black;
    min-height: 225px;

}


.chit-chat form .submit-btn {
    border: 3px solid black;
}


.chit-chat .text {
    width: 40%;
    font-size: 40px;
}


.prediction .container {
    background: black;
    border-radius: 200px;
    padding: 80px 100px;
}


.prediction .vector-box {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    justify-content: center;
    font-size: 80px;
    position: relative;
}

.mess-container {
    width: 0;
    position: relative;
    align-self: flex-start;
    transform: translateX(173px);
}

.mess {
    background: #fff;
    font-family: "Unbounded", sans-serif;
    /*font-size: 30px;*/
    border-radius: 50px;
    margin-bottom: auto;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 488px;
}


.mess .mess-before {
    position: relative;
    padding: 38px 70px;
    font-size: 20px;
}

#mess-text.fs-18 {
    font-size: 18px;
}

.mess .mess-before span {
    position: absolute;
    width: 15px;
    height: 30px;
    background-color: #fff;
    left: 21px;
    bottom: -22px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(211deg);
}

.prediction {
    margin-top: 230px;
    margin-bottom: 170px;
}

.prediction .vector {
    width: 96px;
    height: 174px;
    background: var(--orange);
    margin-bottom: 60px;
}


.prediction .btn {
    display: block;
    background: var(--orange);
    color: #fff;
    border-radius: 70px;
    border: 3px solid black;
    padding: 20px 64px;
    text-transform: uppercase;
    font-family: "Unbounded", sans-serif;
    font-size: 36px;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.prediction .btn:hover {
    transform: scale(1.04);
}

.prediction .hide-text .hide-text-container {
    padding: 62px 54px;
    max-width: 1300px;
    margin: 0 auto;
}


.footer {
    font-family: "Unbounded", sans-serif;
    background: #F2F1E5;
    padding: 20px 0;
    text-transform: uppercase;
    overflow: hidden;
}

.footer .container {
    position: relative;
}

.footer a {
    color: var(--orange);
    font-weight: 500;
    font-size: 36px;
}

.footer .row {
    gap: 24px;
}

.footer .level-up {
    text-align: right;
    font-weight: 500;
    font-size: 36px;
}

.footer-bg {
    max-width: 1280px;
    width: 100%;
}

.footer .bottom-text {
    display: flex;
    gap: 200px;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 20px;
    padding-right: 130px;
    align-items: flex-end;
}

.footer .image {
    position: absolute;
    bottom: -362px;
    left: -88px;
    height: 151%;
}

@media (max-width: 1300px) {
    .offer-row {
        flex-direction: column;
        align-items: center;
        row-gap: 22px;
    }
}

@media (max-width: 1280px) {
    .hero .text .title img {
        height: 128px;
        transform: translateY(0) scaleX(-1);
    }

    .hero .line {
        display: none;
    }

    .banner h3 {
        font-size: 80px;
    }

    .get-started .img-container {
        min-width: 452px;
    }

    .get-started .img-container img {
        width: 100%;
    }

    .footer .bottom-text {
        gap: 28px;
    }
}

@media (max-width: 1150px) {
    .hero .text .title img {
        display: none;
    }

    .about .container {
        padding: 0 32px;
    }

    .about .row {
        flex-direction: column;
    }

    .about_image {
        order: 1;
        max-width: 700px;
        margin: 0 auto;
    }

    .about .row .about_text svg {
        width: 40px;
        height: 37px;
    }

    .about_text h2 {
        font-size: 45px;
    }

    .about h3 {
        font-size: 36px;
    }

    .about_text p {
        font-size: 21px;
    }

    .about .row-tags [data-aos] {
        width: 100%;
    }

    .row-tags {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .row-tags div:nth-child(3) {
        margin: 0;
    }

    .row-tags div[data-aos]:nth-child(5),
    .row-tags div[data-aos]:nth-child(6),
    .row-tags div[data-aos]:nth-child(7) {
        max-width: 568px;
    }

    .footer .image {
        bottom: -328px;
    }
}

@media (max-width: 1024px) {
    nav {
        gap: 45px;
    }

    nav a {
        font-size: 24px;
    }

    .hero .text {
        max-width: 792px;
        margin: 0 auto;
    }

    .hero .text h1, .hero .text h2 {
        font-size: 84px;
        line-height: 104px;
    }

    .hero .text .title img {
        display: flex;
        height: 100px;
    }

    .hero .text p {
        font-size: 22px;
    }

    .hero .rectangle {
        width: 40px;
        height: 70px;
    }

    .question {
        font-size: 22px;
    }

    .question .container {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        max-width: 792px;
    }

    .question .quotes {
        display: none;
    }

    .questionBox__right .icon {
        order: -1;
    }

    .keyElementBox {
        font-size: 22px;
        padding: 22px 26px;
    }

    .keyElementBox_textWhite {
        font-size: 32px;
    }

    .ours-is-not .title {
        font-size: 33px;
    }

    .ours-is-not-list {
        grid-template-columns: 1fr;
        max-width: 688px;
        margin: 0 auto;
    }

    .offer h2 {
        font-size: 55px;
    }

    .ours-is-not-list_item {
        font-size: 26px;
    }

    .why .title {
        font-size: 46px;
    }

    .why .row {
        grid-template-columns: 1fr;
    }

    .why-box {
        max-width: 475px;
        justify-self: center;
    }

    .why-box h3 {
        font-size: 25px;
    }

    .why-box p {
        font-size: 22px;
    }

    .banner .label {
        font-size: 24px;
        width: 225px;
        top: 31px;
        right: 6%;
    }

    .banner h3 {
        font-size: 58px;
    }

    .cases .container {
        flex-direction: column;
        align-items: center;
    }

    .cases .text {
        width: 100%;
    }

    .cases .text__top {
        margin-top: 50px;
        font-size: 26px;
    }

    .cases .text__bottom {
        font-size: 24px;
    }

    .cases .text__bottom svg {
        width: 25px;
        height: 25px;
    }

    .cases .vector-box {
        margin-top: 50px;
    }

    .excellence h2 {
        font-size: 115px;
    }

    .excellence h3 {
        font-size: 33px;
    }

    .excellence .row {
        font-size: 23px;
        max-width: 580px;
    }

    .get-started .container {
        padding: 0 20px;
    }

    .get-started .row {
        flex-direction: column;
    }

    .get-started .img-container {
        order: 1;
        max-width: 568px;
        margin: 0 auto;
    }
    
    .get-started form h2 {
        font-size: 46px;
    }

    .get-started form h2 svg {
        width: 36px;
        height: 39px;
    }

    .get-started form p {
        font-size: 21px;
    }

    .get-started form .text-2 input, .get-started form .text-5 input, .get-started form .text-6 input {
        font-size: 21px;
    }

    .get-started form .text-3 {
        justify-content: flex-start;
        column-gap: 10px;
    }

    .submit-btn {
        font-size: 21px;
        max-width: 155px;
    }

    .text-line {
        font-size: 45px;
        height: 96px;
    }

    .answers .container {
        flex-direction: column;
        padding: 68px 10px;
    }

    .answers .v-text {
        writing-mode: horizontal-tb;
        transform: rotate(0);
        font-size: 31px;
        text-align: center;
    }

    .answers-box .title,
    .answers .hide-text-container {
        font-size: 25px;
    }

    .answers-box .title svg {
        min-width: 39px;
        width: 39px;
        min-height: 36px;
        height: 36px;
    }
    

    section.chit-chat {
        padding-top: 104px;
    }

    .chit-chat .title {
        font-size: 43px;
        margin-bottom: 16px;
    }

    .chit-chat .row {
        flex-direction: column;
        align-items: flex-start;
    }

    .chit-chat .text {
        width: 80%;
    }

    .chit-chat .text p {
        font-size: 26px;
    }

    .chit-chat .vector-box {
        display: none;
    }

    .chit-chat form {
        max-width: 100%;
    }

    .chit-chat form input, .chit-chat form textarea {
        font-size: 20px;
    }

    .chit-chat form .submit-btn {
        font-size: 21px;
    }

    .prediction {
        padding: 0 10px;
    }

    .prediction .container {
        border-radius: 40px;
    }

    .mess-container {
        transform: translateX(0);
    }

    .mess {
        font-size: 21px;
        min-width: 310px;
    }

    .mess .mess-before {
        padding: 23px 26px;
    }

    #mess-text,
    #mess-text.fs-18 {
        font-size: 16px;
    }

    .mess .mess-before span {
        bottom: -23px;
    }

    .prediction .btn {
        font-size: 25px;
    }

    .footer a {
        font-size: 24px;
    }

    .footer .level-up {
        font-size: 23px;
    }

    .footer .bottom-text {
        padding-right: 70px;
        gap: 93px;
    }

    .footer .bottom-text p {
        font-size: 15px;
    }

    .footer .bottom-text p:first-child {
        font-size: 13px;
    }

    .footer .image {
        bottom: -272px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 32px;
    }

    .header {
        padding-top: 16px;
    }

    .header .logo {
        width: 29px;
        height: 29px;
    }


    .header .container {
        padding: 0 43px;
    }

    /* Hero */
    .hero .container {
        max-width: 405px;
    }

    .hero .text {
        padding: 70px 0px 0px;
    }

    .hero .text .title {
        max-height: 40px;
    }

    .hero .text h1,
    .hero .text h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .hero .text .title img {
        height: 55px;
        transform: translateY(-15px) scaleX(-1);
    }

    .hero .text p {
        font-size: 11px;
        width: 600px;
    }

    .hero .text .subtitle {
        margin-top: 16px;
        width: 100%;
    }

    .hero .rectangle {
        width: 17px;
        height: 29.5px;
        right: 10px;
        top: 76px;
    }

    /* Question */

    .question {
        margin-top: 93px;
        font-size: 12px;
    }

    .question .quotes {
        display: none;
    }

    .question .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0;
    }

    .questionBox {
        width: 295px;
        gap: 10px;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .questionBox .icon {
        min-width: 25px;
        width: 25px;
        height: 25px;
    }

    .questionBox_text {
        gap: 10px;
    }

    .questionBox_text br {
        display: none;
    }

    .questionBox__right .icon {
        order: 0;
    }

    .questionBox__right p {
        order: 1;
    }

    .keyElementBox {
        max-width: 290px;
        width: 100%;
        padding: 10px 10px;
        border: 2px solid black;
        border-radius: 20px;
        font-size: 10px;
        text-transform: uppercase;
        font-family: "Unbounded", sans-serif;
        font-weight: 500;
    }

    .keyElementBox_textWhite {
        font-size: 16px;
        font-weight: 400;
    }

    /* About */

    .about .container {
        margin-top: 67px;
        padding-right: 0px;
        padding-left: 0px;
        max-width: 328px;
    }

    .about .row {
        gap: 40px;
        padding: 0;
    }

    .about_image {
        position: relative;
        min-width: auto;
        min-height: auto;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .about {
        margin-bottom: 0px;
    }


    .about_text h2 {
        text-transform: uppercase;
        font-size: 27px;
        font-family: "Unbounded", sans-serif;
    }

    .about h3 {
        margin-top: 16px;
        font-size: 24px;
    }

    .about .row .about_text svg {
        width: 24px;
        height: 22px;
    }

    .about_text p {
        font-size: 12px;
        margin-top: 10px;
    }

    .row-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 23px;
        padding-right: 32px;
        padding-left: 32px;

    }

    .row-tags div {
        width: 100%;
    }

    .row-tags-item {
        width: 100%;
        gap: 10px;
        border: 2px solid black;
        padding: 10px 20px;
    }

    .row-tags div:nth-child(3) {
        margin-left: 0px;
    }

    .row-tags-item p {
        font-size: 15px;
    }

    .row-tags-item p span {
        font-size: 12px;
    }

    .row-tags-item .icon {
        width: 27px;
        height: 27px;
        min-width: 27px;
        min-height: 27px;
    }

    .offer {
        margin-top: 96px;
        padding: 0;
    }

    .offer h2 {
        font-family: "Unbounded", sans-serif;
        font-weight: 500;
        font-size: 27px;
    }

    .offer-row {
        flex-direction: column;
        gap: 22px;
        max-width: 320px;
        margin: 0 auto;
    }


    .offer-card {
        min-width: auto;
        width: 100%;
        border: 2px solid black;
        padding: 20px;
        min-height: 432px;
    }


    .offer-card_header h3 {
        font-size: 27px;
        font-family: "Unbounded", sans-serif;
        text-transform: uppercase;
    }

    .offer-card_header p.offer-card_number {
        font-size: 25px;
    }

    .offer-card_header p,
    .offer-card:nth-child(3) .offer-card_header p {
        font-size: 14px;
    }

    .card_list div {
        gap: 7.5px;
    }

    .card_list div svg {
        width: 22px;
        height: 22px;
    }

    .line {
        margin-bottom: 7px;
    }


    .card_list {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 36px;
        font-size: 23px;
        font-weight: 500;
    }


    .offer-card button {
        gap: 10px;
        margin-top: 50px;
        font-size: 20px;
        line-height: 20px;
    }

    .offer-card button p::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -8px;
        left: 0;
        background: white;
    }

    .offer-card button svg {
        width: 25px;
        height: 26px;
    }

    .ours-is-not {
        position: relative;
        margin-top: 74px;
        padding-bottom: 101px;
    }

    .ours-is-not .container {
        max-width: 325px;
    }

    .ours-is-not .title {
        color: white;
        font-family: "Unbounded", sans-serif;
        font-size: 18px;
        font-weight: 500;
        max-width: auto;
        padding: 10px;
        text-transform: uppercase;
        margin-bottom: 23px;
    }

    .ours-is-not-list {
        grid-template-columns: 1fr;
        gap: 14px;
        padding-left: 0;
    }

    .ours-is-not-list svg {
        width: 19px;
        height: 19px;
    }

    .ours-is-not-list_item {
        gap: 15px;
        font-size: 17px;
    }

    .why {
        margin-bottom: 0px;
        margin: 0 40px;
    }

    .why-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .why .title {
        font-family: "Unbounded", sans-serif;
        font-size: 27px;
        text-align: center;
    }


    .why .row {
        grid-template-columns: 1fr;
        gap: 45px;
    }

    .why-box .why-box-icon-container {
        height: 100px;
    }

    .why-box h3 {
        font-size: 18px;
    }

    .why-box .icon {
        top: 57px;
        font-size: 35px;
    }

    .why-box .icon-1 {
        left: -80px;
    }

    .why-box .icon-2 {
        left: -80px;
    }

    .why-box .icon-3 {
        left: -85px;
    }

    .why-box .icon-4 {
        left: -75px;
    }

    .why-box .icon-5 {
        left: -85px;
    }

    .why-box .icon-6 {
        left: -80px;
    }

    .why-box-1 svg {
        width: 114px;
        height: 95px;
    }

    .why-box-2 svg {
        width: 118px;
        height: 102px;
    }

    .why-box-3 svg {
        width: 156px;
        height: 95px;        
    }

    .why-box-4 svg {
        width: 91px;
        height: 91px;        
    }

    .why-box-5 svg {
        width: 97px;
        height: 120px;        
    }

    .why-box-6 svg {
        width: 140px;
        height: 97px;
        left: 30px;
    }

    .why-box .why-box-icon-container-6 svg {
        left: 30px;
    }

    .why-box p {
        font-size: 14px;
    }

    .banner {
        margin-top: 100px;
        position: relative;
        background: black;
        color: white;
    }

    .banner .container {
        padding: 8px 0px 16px 33px;
    }

    .banner h3 {
        font-size: 28px;
    }


    .banner .label {
        top: 20px;
        right: 5%;
        width: 110px;
        font-size: 12px;
        padding: 3px;
    }


    .cases .container {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 42px 32px;
    }

    .cases .text {
        width: 100%;
        font-size: 16px;
    }

    .cases .text__top {
        font-size: 16px;
    }

    .cases .text__bottom {
        font-size: 16px;
        width: 234px;
        margin-top: 24px;
        margin-left: 20px;
    }

    .cases .text__bottom svg {
        width: 16px;
        height: 16px;
    }

    .cases .image {
        max-width: 328px;
        width: 100%;
        height: 490px;
        border: 2px solid black;
    }

    .cases .image img {
        width: 100%;
        height: 100%;
    }

    .cases .vector-box {
        margin-top: 25px;
    }

    .cases .vector-box svg {
        width: 173px;
        height: 88px;
    }

    .excellence {
        position: relative;
        padding: 200px 30px;
    }

    .excellence .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .excellence .bg img {
        width: 100%;
        height: 100%;
    }


    .excellence h2 {
        text-align: center;
        font-size: 60px;
        font-family: "Unbounded", sans-serif;
    }

    .excellence h3 {
        text-align: center;
        font-size: 18px;
        font-family: "Unbounded", sans-serif;
        text-transform: uppercase;
    }

    .excellence .row {
        align-items: center;
        font-size: 14px;
        max-width: 330px;
    }

    .excellence .row span {
        font-size: 46px;
    }

    .get-started {
        padding-bottom: 64px;
    }

    .get-started form h2 {
        font-size: 27px;
        line-height: 33.48px;
        margin-bottom: 11px;
    }

    .get-started form h2 svg {
        width: 20px;
        height: 21px;
    }

    .get-started form p {
        font-size: 14px;
        line-height: 17.36px;
    }

    .get-started form p span,
    .get-started form .text-3 span:nth-child(3) {
        padding: 0 12px;
    }

    .get-started form .text-2 input, .get-started form .text-5 input, .get-started form .text-6 input {
        font-size: 14px;
        line-height: 17.36px;
    }

    .get-started form .text-3,
    .get-started form .text-4 {
        row-gap: 8px;
    }

    .get-started form .text-5 input {
        width: 100px;
    }

    .get-started form .text-6 input {
        padding: 12px 15px;
    }

    .submit-btn {
        font-size: 14px;
        line-height: 16.36px;
        max-width: 102px;
        padding: 8px 11px;
    }

    .get-started .img-container {
        min-width: 328px;
        max-width: 328px;
        min-height: 517px;
    }

    .text-line {
        font-size: 26px;
        height: 72px;
    }

    .answers .container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 68px 32px;
        max-width: 392px;
    }

    .answers-box {
        border: 2px solid black;
        border-radius: 30px;

    }

    .answers-box .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        font-size: 14px;
        font-family: "Unbounded", sans-serif;
        min-height: 100px;
        padding: 5px 16px;
    }

    .answers-box .title svg {
        min-width: 20px;
        min-height: 20px;
        width: 20px;
        height: 20px;
    }

    .answers .v-text {
        writing-mode: initial;
        transform: rotate(0deg);
        font-size: 14px;
    }

    .answers-col {
        gap: 8px;
    }

    .answers .hide-text {
        transform: translateY(-10px);
    }

    .answers .hide-text-container {
        padding: 16px 16px;
        border-width: 2px;
        border-radius: 30px;
        font-size: 14px;
    }

    .chit-chat {
        padding: 0 33px;
    }

    .chit-chat .title {
        font-size: 22px;
        font-family: "Unbounded", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        max-width: 100%;
    }

    .chit-chat .row {
        gap: 30px;
    }

    .chit-chat .vector-box {
        margin-top: 80px;
        font-size: 20px;
    }

    .chit-chat .vector-box .vector {
        width: 36px;
        height: 50px;
    }

    .chit-chat form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: auto;
    }

    .chit-chat form input,
    .chit-chat form textarea {
        border-bottom: 1px solid black;
        padding: 5px 10px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .chit-chat form textarea {
        border-radius: 5px;
        border: 1px solid black;
        min-height: 70px;
    }


    .chit-chat form .submit-btn {
        border: 1px solid black;
    }

    .chit-chat .text {
        width: 100%;
        font-size: 12px;
    }

    .chit-chat .text p {
        font-size: 12px;
    }

    .chit-chat form .submit-btn {
        font-size: 14px;
    }

    .prediction .container {
        border-radius: 40px;
        padding: 50px 50px;
    }


    .prediction .vector-box {
        display: flex;
        gap: 0;
        align-items: flex-end;
        justify-content: center;
        font-size: 37px;
    }


    .mess {
        background: #fff;
        font-size: 12px;
        border-radius: 50px;
        margin-bottom: auto;
        min-width: 165px;
        transform: translateX(25px);
    }

    .prediction {
        margin-top: 70px;
        margin-bottom: 170px;
    }

    .prediction .vector {
        width: 47px;
        height: 72px;
        background: var(--orange);
        margin-bottom: 20px;
    }

    .prediction .vector-box svg {
        width: 220px;
        height: 180px;
    }

    .mess .mess-before {
        padding: 8px 11px;
    }

    .mess .mess-before span {
        left: 8px;
        bottom: -8px;
        width: 10px;
        height: 14px;
    }

    #mess-text, #mess-text.fs-18 {
        font-size: 10px;
    }

    .prediction .btn {
        border-radius: 30px;
        border: 1px solid black;
        padding: 10px 20px;
        text-transform: uppercase;
        font-family: "Unbounded", sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin-top: 30px;
    }

    .footer {
        padding: 20px 0;
        text-transform: uppercase;
    }

    .footer a {
        font-size: 12px;
    }

    .footer .row {
        gap: 24px;
    }

    .footer .level-up {
        text-align: right;
        font-weight: 500;
        font-size: 10px;
    }

    .footer .bottom-text {
        display: flex;
        gap: 21px;
        justify-content: flex-end;
        font-weight: 500;
        font-size: 20px;
        padding-right: 23px;
    }

    .footer .bottom-text p {
        font-size: 10px;
    }

    .footer .bottom-text p:first-child {
        font-size: 6px;
    }

    .footer .footer-bg {
        width: 100%;
    }

    .footer {
        overflow: hidden;
    }

    .footer .image {
        /* height: 90%;
        width: 70%;
        object-fit: cover;
        object-position: top;
        transform: translateX(-20%) */
        bottom: -183px;
        height: 149%;
        left: -39px;
    }

}

@media (max-width: 600px) {
    .footer .image {
        bottom: -148px;
    }
}

@media (max-width: 460px) {
    .footer .image {
        height: 139%;
        left: -22px;
        bottom: -95px;
    }   
}

/* @media (max-width: 410px) {
    .mess-container {
        transform: translate(25px, 10px);
    }
} */